.welcome{
  text-align: center;
}
.demo{
  background-color: aqua;
  padding: 15px;
  width: auto;
  margin: 10px;

}
.producat-cart{
  background-color: rgb(94, 215, 85);
  padding: 15px;
  width: auto;
  margin: 10px;
  border: 2px solid;
  border-radius: 20px;
  
}
.producat-prent{
 background-color: bisque;

}
.all-product{
  text-align: center;
  padding: 10px;

}
.product-ditls{
  display: grid;
  grid-template-columns: repeat(3,1fr);
 

}
.add-to-cart{
  background-color: aqua;
  font-size: 10px;
  padding: 10px;
  border-radius: 30px;
 

}
.added-to-cart{
  background-color: #c9197a;
  font-size: 10px;
  padding: 10px;
  color: aliceblue;
  border-radius: 30px;
 
  
}
.moods-tracker {
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.mood-tracker-parent {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(143, 242, 143);
  margin-top: 80px;
  margin-bottom: 80px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.emoji-parent {
  display: flex;
  gap: 10px;
}
.emoji-btn {
  font-size: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: transform 0.2s ease-in-out;
}
.emoji-btn:hover {
  transform: scale(1.2);
}