.counter{
    background-color: orange;
    margin: auto;
    text-align: center;
    height: auto;
    width: 200px;
    border: none;
    padding: 10px;
    color: aliceblue;
    

}
.btn-card{
    background-color: greenyellow;
    border: 1px;
    border-radius: 20px;

}
.profile-card{
    background-color: rgb(149, 33, 149);
    font-size: 15px;
    margin-top: 20px;
    margin: 70px auto;
    height: auto;
    width: 400px;
    padding:10px 20px;
    color: rgb(204, 210, 215);
    border-radius: 10px;

}
.todo-list{   
    background-color: greenyellow;
    border: 1px;
    border-radius: 20px;
    width: 400px;
    height: auto;
    padding: 10px;
    


}
.item-parent{
    display: flex;
    justify-content: center;
    justify-items: auto;
    gap: 10px;

}